# Formatting
black==22.10.0
ruff==0.0.251

# Testing
pytest==7.1.2
pytest-cov==3.0.0

# Web App
flask==3.3.1
pymysql==1.1.1
python-dotenv==1.0.1
gunicorn

# AWS
boto3==1.26.12

# Load Test
locust





# Web App
#flask==2.2.3

# AWS
#boto3==1.26.12

# Load Test
#locust==2.5.0
